<div>Hello <%= @reminder.user.email %>,</div>
<br />
<div>This email confirms the following reminder has been set:</div>
<br />
<div>Subject: <%= @reminder.title %></div>
<div>Body: <%= @reminder.description %></div>