.blocks {
    margin-top: -30px;
    margin-left: -30px;
    font-size: 0;
    box-sizing: border-box;
}

.blocks > * {
    display: inline-block;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 14px;
    vertical-align: text-top;
    @include box-sizing(border-box);
}

.blocks_3up > * {
    width: 33%;
}